langchain==0.3.3
langchain-core==0.3.15
langchain-community==0.3.2
langchain-text-splitters==0.3.2

mistralai==1.8.2

chromadb==0.5.5
sentence-transformers==3.0.1
huggingface-hub==0.24.6

requests==2.32.3
numpy==1.26.4
scikit-learn==1.5.2
tqdm==4.66.5
colorama==0.4.6

torch --index-url https://download.pytorch.org/whl/cpu

